* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: auto;
}
li {
  list-style: none;
}
body {
  height: 100%;
  display: block;
  background-color: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
img {
  border: 0;
  vertical-align: middle;
}
.menu {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 300;
  width: 100%;
  height: 47px;
  background-color: #fff;
  opacity: 0.8;
}
.menu .kslogo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 110px;
  height: 30px;
}
.menu .mod_nav_title {
  position: absolute;
  top: 13px;
  right: 50px;
  display: block;
  width: 45px;
  height: 20px;
  border: 1px solid #e95f55;
  border-radius: 16px;
  color: #e95f55;
  text-align: center;
}
.menu .mod_nav_toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 15px 25px 25px;
  color: -webkit-link;
  cursor: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu .mod_nav_toggle .icon_nav {
  background-image: url(../../img/productimg/kang.png);
  display: inline-block;
  width: 16px;
  height: 18px;
}
.mod_wrap {
  width: 100%;
  margin: 0 auto;
}
.mod_wrap .my_show {
  position: relative;
  height: 300px;
  text-align: center;
  overflow: hidden;
  background: url(../../img/productimg/default.jpg) no-repeat center top;
}
.mod_wrap .my_show .my_show_con {
  padding-top: 60px;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  color: #808088;
}
.mod_wrap .my_show .my_show_con .my_show_photo {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 100px;
}
.mod_wrap .my_show .my_show_con .my_show_user {
  padding-top: 10px;
}
.mod_wrap .my_show .my_show_con .my_show_user span {
  vertical-align: middle;
}
.mod_wrap .my_show .my_show_con .my_show_user .my_show_name {
  display: inline-block;
  max-width: 70%;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}
.mod_wrap .my_show .my_show_con .my_show_user .icon_level_big {
  background-image: url(../../img/productimg/demgji.png);
  background-size: 560px auto;
  width: 52px;
  background-position: -140px 0;
  display: inline-block;
  height: 24px;
  background-repeat: no-repeat;
}
.mod_wrap .my_show .my_show_con .my_show_info {
  padding: 10px 0;
  font-size: 14px;
}
.mod_wrap .my_show .my_show_con .my_show_info .icon_boy {
  background-image: url(../../img/productimg/nan.png);
  width: 15px;
  height: 15px;
  display: inline-block;
}
.mod_wrap .my_nav {
  margin-bottom: 10px;
  border-width: 0 0 1px 0;
  height: 40px;
  border-top: 0;
  border: 1px solid #dfe3e6;
}
.mod_wrap .my_nav .my_nav_list {
  width: 100%;
  margin: 0 auto;
  zoom: 1;
  overflow: hidden;
}
.mod_wrap .my_nav .my_nav_list li {
  width: 25%;
  float: left;
}
.mod_wrap .my_nav .my_nav_list li .my_nav_item {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  height: 38px;
  line-height: 38px;
  display: block;
  text-align: center;
  color: #000;
}
.mod_wrap .my_nav .my_nav_list li .my_nav_item--current {
  padding-bottom: 0;
  border-bottom: 2px solid #f05549;
}
.mod_wrap .my_nav .my_nav_list li .my_nav_item:hover {
  color: #f05549;
}
.mod_wrap .opus_show .mod_playlist {
  padding-bottom: 50px;
  overflow: hidden;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show {
  margin: 0 5px;
  overflow: hidden;
  zoom: 1;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box {
  margin: 0 5px;
  background-color: #fff;
  position: relative;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box a {
  color: #545454;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_cover {
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  padding-top: 100%;
  zoom: 1;
  height: 0;
  color: #545454;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_cover .play_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_cover .black_mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-color: #000;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_cover .icon_play_m {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(../../img/productimg/bo.png);
  background-position: -40px 0;
  overflow: hidden;
  text-indent: -999px;
  -webkit-transition: background-image 0.2s ease-in;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title {
  padding: 5px;
  height: 48px;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title p {
  overflow: hidden;
  zoom: 1;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title .mod_playlist_work {
  max-width: 70%;
  float: left;
  font-size: 14px;
  margin-right: 5px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title .icon_c {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../../img/productimg/c.png);
  background-position: -63px -61px;
  vertical-align: top;
  position: relative;
  top: 7px;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title .mod_playlist_record {
  color: #999;
  font-size: 12px ;
  float: left;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title .mod_playlist_record:first-child {
  margin-right: 5px;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title .icon_talk {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../img/productimg/xiao.png);
  overflow: hidden;
  line-height: 9em;
  margin-right: 3px;
  vertical-align: middle;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title .icon_ear {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../img/productimg/ji.png);
  overflow: hidden;
  line-height: 9em;
  margin-right: 3px;
  vertical-align: middle;
  background-size: cover;
}
.mod_wrap .opus_show .mod_playlist .mod_playlist_show .mod_playlist_item .mod_playlist_box .mod_playlist_title .icon_s {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../../img/productimg/s.png);
  vertical-align: top;
  position: relative;
  top: 7px;
}
.mod_wrap .opus_show .mod_playlist .mod_tips_full {
  padding: 30px 0;
  font-size: 16px;
  text-align: center;
  color: grey;
}
.mod_wrap .opus_show .mod_playlist .mod_tips_full img {
  display: inline-block;
  margin-bottom: 20px;
}
.mod_wrap .opus_show .mod_friend {
  margin: 0 10px;
  padding-bottom: 50px;
  overflow: hidden;
  zoom: 1;
}
.mod_wrap .opus_show .mod_friend .mod_friend_grid {
  width: 100%;
  float: left;
}
.mod_wrap .opus_show .mod_friend .mod_friend_grid .mod_friend_box {
  zoom: 1;
  padding: 10px 0 13px;
  overflow: hidden;
}
.mod_wrap .opus_show .mod_friend .mod_friend_grid .mod_friend_box a {
  color: #545454;
}
.mod_wrap .opus_show .mod_friend .mod_friend_grid .mod_friend_box .mod_friend_cover {
  position: relative;
  float: left;
  margin-right: 12px;
  width: 50px;
  height: 50px;
}
.mod_wrap .opus_show .mod_friend .mod_friend_grid .mod_friend_box .mod_friend_cover .avatar_img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.mod_wrap .opus_show .mod_friend .mod_friend_grid .mod_friend_box .mod_friend_body {
  font-size: 14px;
  height: 50px;
  line-height: 25px;
}
