@media (min-width: 320px) and (max-width: 375px) {
  .item-1 {
    transform: translate3d(0px, 0px, 0px);
  }
  .item-2 {
    transform: translate3d(0px, 568px, 0px);
  }
  .item-3 {
    transform: translate3d(0px, 1250px, 0px);
  }
}
